@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueLightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueMediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/HelveticaNeueBoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

.editor-root {
  padding: 0.5rem;
  position: relative;
  outline: none;
  font-family: "Source Serif 4", serif;
}

.editor-paragraph {
  line-height: normal;
}

.editor-text-bold {
  font-weight: bold;
}

.editor-text-italic {
  font-style: italic;
}

.editor-text-underline {
  text-decoration: underline;
}

.editor-text-strikethrough {
  text-decoration: line-through;
}

.editor-text-underline-strikethrough {
  text-decoration: underline line-through;
}

.editor-list-ul {
  list-style-type: disc;
  list-style-position: inside;
}

.editor-list-ol {
  list-style-type: decimal;
  list-style-position: inside;
}

.editor-list-checklist {
  list-style: none;
  position: relative;
}

.editor-list-item {
  margin: 0.25rem 0;
}

.editor-list-item-checked {
  text-decoration: line-through;
  color: var(--muted-foreground);
  position: relative;
  padding-left: 1.5rem;
  margin: 0.4rem 0.5rem;
  list-style: none;
  outline: none;
}

.editor-list-item-checked::before {
  content: "";
  width: 1rem;
  height: 1rem;
  left: 0;
  top: 4px;
  cursor: pointer;
  display: block;
  position: absolute;
  border: 2px solid #000;
  background-color: #000;
  border-radius: 0.125rem;
}

.editor-list-item-checked::after {
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3E%3Cpath d='M12.207 4.793a1 1 0 0 1 0 1.414l-5 5a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L6.5 9.086l4.293-4.293a1 1 0 0 1 1.414 0z'/%3E%3C/svg%3E");
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  left: 2px;
  top: 1px;
}

.card-editor-view .editor-list-item-checked::after {
  top: 6px !important;
}

.editor-list-item-unchecked {
  color: var(--foreground);
  position: relative;
  padding-left: 1.5rem;
  margin: 0.4rem 0.5rem;
  list-style: none;
  outline: none;
}

.editor-list-item-unchecked::before {
  content: "";
  width: 1rem;
  height: 1rem;
  left: 0;
  top: 4px;
  cursor: pointer;
  display: block;
  position: absolute;
  border: 2px solid rgb(228 228 231);
  border-radius: 0.125rem;
}

.editor-nested-list {
  margin-left: 1rem;
}

.editor-nested-list-item {
  margin: 0.25rem 0;
}

.editor-placeholder {
  color: var(--muted-foreground);
  position: absolute;
  top: 12px;
  left: 12px;
  pointer-events: none;
}

.editor-heading-font {
  font-family: "Helvetica Neue", sans-serif;
}

.editor-heading-h1 {
  @apply text-2xl font-bold;
}

.editor-heading-h2 {
  @apply text-xl font-bold;
}

.editor-heading-h3 {
  @apply text-lg font-bold;
}

.editor-heading-h4 {
  @apply text-base font-bold ;
}

.editor-heading-h5 {
  @apply text-sm font-bold;
}

.editor-heading-h6 {
  @apply text-xs font-bold;
}
